/* Custom styles */

/* Container styles */

.rounded {
    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.shadowed {
-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Form styles */

.big-button {
    font-size: 150%;
    height: 150%;
}

/* "picket!" + logo styles */

div.branding {
    font-family: "McLaren", serif;
}

div.branding-large {
    font-size: 72px;
    margin-bottom: 30px;
}

/* Site layout */

/* Specific named elements for specific pages */

div.login {
    width: 400px;
    height: 250px;
    padding: 25px;
    background-color: #45484b;
    color: #f9f8d5;
    text-align: center;
}

#login-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

/* Shortcuts */

/* Class shortcuts */

.force-block {
    display: block;
}

/* Skeleton overrides */

/* Forms */

/* Text inputs */

input[type="text"], input[type="password"], input[type="email"],
textarea, select {
    font-family: "Crete Round", "Georgia", serif;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

/* Labels */

label,
legend {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    text-align: right;
    margin-right: 10px;
    width: 140px;
}

/* Buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-family: "Crete Round", "Georgia", serif;
}