/* Custom styles */

/* Skeleton overrides */

/* Text inputs */

input[type="text"], input[type="password"], input[type="email"],
textarea, select {
    font-family: "Crete Round", "Georgia", serif;
    margin-bottom: 0px;
}

/* Labels */

label,
legend {

}

/* Buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-family: "Crete Round", "Georgia", serif;

    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        -ms-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

    -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        -ms-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

/* Overarching styles */

body {
    color: #f9f8d5;
}

/* "picket!" + logo styles */

div.branding {
    font-family: "McLaren", serif;
}

div.branding-large {
    font-size: 72px;
    margin-bottom: 30px;
}

/* Site layout */

/* Specific named elements for specific pages */

div.login {
    width: 400px;
    /* height: 300px; */
    padding: 25px;
    background-color: #45484b;
    color: #f9f8d5;
    text-align: center;
}