/* Custom styles */

/* Skeleton overrides */

/* Text inputs */

input[type="text"], input[type="password"], input[type="email"],
textarea, select {
    font-family: "Crete Round", "Georgia", serif;
    margin-bottom: 0px;
}

/* Labels */

label,
legend {

}

/* Buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-family: "Crete Round", "Georgia", serif;

    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        -ms-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

    -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        -ms-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

/* Overarching styles */

body {
    color: #f9f8d5;
}

/* Container styles */

.rounded-lg {
    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.rounded-md {
    -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px; /* future proofing */
        -khtml-border-radius: 8px; /* for old Konqueror browsers */
}

.rounded-sm {
    -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px; /* future proofing */
        -khtml-border-radius: 6px; /* for old Konqueror browsers */
}

.no-round-l {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.no-round-r {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.shadowed {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Form styles */

.big-button {
    font-size: 150%;
    height: 150%;
}

/* "picket!" + logo styles */

div.branding {
    font-family: "McLaren", serif;
}

div.branding-large {
    font-size: 72px;
    margin-bottom: 30px;
}

/* Site layout */

/* Specific named elements for specific pages */

div.login {
    width: 400px;
    /* height: 300px; */
    padding: 25px;
    background-color: #45484b;
    color: #f9f8d5;
    text-align: center;
}

/* Shortcuts */

/* Class shortcuts */

.force-block {
    display: block;
}

/* Forms */

.form-container {
    display: none;
}

.two-field-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.form-fields {
    width: 70%;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#username, #password, #loginbutton {
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.4);
    margin: 0;
    padding: 0;
}

#username, #password {
    width: 100%;
    height: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 32px;
    padding-left: 15px;
}

#username {
    border-bottom-left-radius: 0px;
}

#password {
    border-top-left-radius: 0px;
    margin-bottom: 0;
}

#loginbutton {
    width: 30%;
    height: 104px;
    float: left;
    overflow: hidden;
    /* margin-top: -1px; */
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 24px;
}