/* Overarching styles */

body {
    color: #f9f8d5;
    /* font-family: "Crete Round", "Georgia", serif; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("/static/images/darkdenim3.png");
    background-color: #36393b;
}

.btn {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.add-on {
    color: #000;
}

/* "picket!" + logo styles */

div.branding {
    font-family: "McLaren", serif;
}

div.branding-large {
    font-size: 72px;
    margin-bottom: 30px;
}

/* Site layout */

.rounded {
    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.shadowed {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.no-margin {
    margin: 0px;
}

/* Specific named elements for specific pages */

div.login {
    width: 400px;
    /* height: 300px; */
    padding: 25px;
    background-color: #45484b;
    color: #f9f8d5;
    text-align: center;
}

/* Buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {

    -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        -ms-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

    -webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
       -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        -ms-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
         -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
            transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.tx {
    color: #F00;
}

.warning-inline {
    color: #c09853;
    border-color: #c09853;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.warning-inline:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}