<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/skeleton.css">
	<link rel="stylesheet" href="/static/css/layout.css">
	<link rel="stylesheet" href="/static/css/jquery.gritter.css">
	<link rel="stylesheet" href="/static/css/test.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!--link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic|McLaren' rel='stylesheet' type='text/css'-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	
	<!-- Scripts
	================================================== -->
	
	<script type="text/javascript">
	    WebFontConfig = {
	        google: { families: [ 'Crete+Round:400,400italic:latin', 'McLaren::latin' ] },
	        loading: function() {
	        	$(window).resize();
	        }
	    };
	    (function() {
	        var wf = document.createElement('script');
	        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(wf, s);
	    })();
    </script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="/static/js/jquery.gritter.min.js"></script>

	{% block head %}{% endblock %}

</head>
<body>

<!-- Primary Page Layout
================================================== -->

{% block content %}{% endblock %}

<!-- End Document
================================================== -->

{% block endcontent %}{% endblock %}

</body>
</html>