{% extends 'base.html' %}

{% block title %}
    Login: Picket
{% endblock %}

{% block head %}
    <script src="/static/js/abs-center.js"></script>
{% endblock %}

{% block content %}

<div class="form-container login abs-center rounded-lg shadowed">
    <div class="branding branding-large">picket!</div>
    <form class="two-field-form" method="POST">
        <div class="form-fields">
            <input type="text" name="username" id="username" placeholder="Username" class="top-field rounded-md">
            <input type="password" name="password" id="password" placeholder="Password" class="bottom-field rounded-md">
        </div>
        <button type="submit" name="login" id="loginbutton">
            Log in
        </button>
    </form>
</div>

{% endblock %}

{% block endcontent %}{% endblock %}