{% extends 'base.html' %}

{% block title %}
	Login: Picket
{% endblock %}

{% block content %}

<div class="login abs-center rounded shadowed">
	<div class="branding branding-large">picket!</div>
	<form action="" method="POST">
		<label for="username">Username</label>
		<input name="username" type="text" placeholder="That's you!">
		<label for="username">Password</label>
		<input name="password" type="password" placeholder="Shhhhhhh.">
		<button id="login-button" class="force-block big-button">Login!</button>
	</form>
</div>

{% endblock %}

{% block endcontent %}
	<script src="/static/js/abs-center.js"></script>
{% endblock %}