{% extends 'base.html' %}

{% block title %}
    Upload: Picket
{% endblock %}

{% block head %}
    <script src="/static/js/load-image.min.js"></script>
{% endblock %}

{% block content %}


<div class="container">
    <div class="grey-foreground rounded shadowed" style="margin-top: 20px; padding: 25px; width: 1000px;">
        <div>
            <form id="upload-form" method="POST" enctype="multipart/form-data" style="margin-bottom: 0px;">
                
                <input type="file" id="upload-file" name="upload-file" style="display: none;">
    
                <div class="control-group" style="margin-left: auto; margin-right: auto;">
                    <div class="controls input-prepend">
                        <a id="browse-btn" class="btn" onclick="$('#upload-file').click(); return false;">Browse</a>
                        <input type="text" id="browse-text" class="disabled" readonly onclick="$('#upload-file').click(); return false;" placeholder="Select file...">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls input-prepend input-append hide-when-no-image">
                        <span class="add-on">
                            <i class="icon-file"></i><i class="icon-arrow-right"></i><i class="icon-globe"></i> Upload as:
                        </span>
                        <input type="text" name="file-name" id="file-name" class="input-small" style="text-align: right;" value="{{ default_fn }}">
                        <span id="file-ext" class="add-on">
                            <!-- file extension goes here --> 
                        </span>
                    </div>
                </div>
                <div class="image-preview rounded hide-when-file-is-not-image" style="margin-bottom: 10px;">
                    <!-- img tag goes here -->
                </div>
                <div class="control-group" style="margin-bottom: 0px;">
                    <div class="controls">
                        <a id="submit-form" class="disabled disable-when-no-image btn btn-primary"><i class="icon-ok icon-white"></i> Upload</a>
                        <a href="{{ url_for('manage') }}" class="btn"><i class="icon-remove"></i> Cancel</a>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
</div>

<script>
    var filename = '';
    var extension = '';

    // snips the extension off a file
    // NOTE: for a file named 'fish.babel.tar.gz', it returns '.gz'; be careful!
    function getExtension(filename) {
        var fnSplit = filename.split('.');
        var extension = fnSplit[fnSplit.length - 1].toLowerCase();
        return extension;
    }
    
    // makes sure the file is an image.
    // FIXME: these values are hardcoded and ugly
    function validateExtension(extension) {
        extension = extension.toLowerCase();
        var allowedExtensions = ['jpg', 'jpe', 'jpeg', 'png', 'gif', 'svg', 'bmp']
        var searchResult = allowedExtensions.indexOf(extension);
        if (searchResult > -1) {
            return true;
        } else {
            return false;
        }
    }

    // do validation of form elements
    $("#submit-form").click(function() {
        var saveFileAs = $('#file-name').val();
        // check that user has selected a file
        if (filename == '') {
            noty({
                type: 'warning',
                text: 'No file selected for upload.'
            });
        // validate the file extension; flask will not accept files with non-image extensions
        } else if (!validateExtension(getExtension(filename))) {
            noty({
                type: 'warning',
                text: 'You may only upload image files.'
            });
        // make sure the user has picked a name for the file
        } else if (saveFileAs == '') {
            noty({
                type: 'warning',
                text: 'No name provided for the uploaded file.'
            });
        // looks good, hit that!
        } else {
            $('#upload-form').submit();
        }
    });

    // this runs when the file picker field changes in some way (new file picked)
    $('#upload-file').change(function() {
        // set filename and extension boxes to the fn/ext of the selected file
        filename = $('#upload-file').val().replace("C:\\fakepath\\", "")
        $('#browse-text').val(filename);
        extension = getExtension(filename);
        // if filename is empty, blank the image preview and restore the extension box to say '.extension'
        if (filename == '') {
            $('.hide-when-no-image').fadeOut();
            $('hide-when-file-is-not-image').fadeOut();
            $('.disable-when-no-image').addClass('disabled');
        // otherwise, get the file
        } else {
            $('.hide-when-no-image').fadeIn();
            $('.disable-when-no-image').removeClass('disabled');
            $('#file-ext').text('.' + extension);
            var file = event.target.files[0];
            // make sure the file is an image
            if (file.type.match('image.*')) {
                // if it is, load it into the preview div
                $('.hide-when-file-is-not-image').fadeIn();
                window.loadImage(
                    file,
                    function(img) {
                        var imagePreviewDiv = $('.image-preview');
                        imagePreviewDiv.html(img);
                        var imageElement = imagePreviewDiv.find('img');
                        imageElement.addClass("rounded shadowed");
                    },
                    {maxWidth: 300}
                );
            }
        }
    });
</script>

{% endblock %}